body {
    font-family: 'Poppins', sans-serif;
}

.carousel-item {
    background-color: #000;

}

.slider-head-text {
    font-size: 3rem;
}

.img-style {
    height: 90vh;
}

.regi-width {
    width: 50%;
}

.explore {
    background-color: #F4FAFD;
}

@media screen and (max-width: 768px) {
    .mobile-view {
        display: flex;
        flex-direction: column;
    }

    .mobile-view img {
        width: 432px;
        height: 300px;
    }

    .regi-mobile-view {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .regi-width {
        width: 100%;
    }

    .for-tab-mob {
        display: none;
        position: static;
    }

    .rating-tab-mobile {
        display: flex;
        flex-direction: column;
    }

    .rating-display {
        display: none;
    }

    .rating-position {
        position: static;
    }
}

@media screen and (max-width: 992px) {
    .for-tab-mob {
        display: none;
    }

    .regi-mobile-view {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .regi-width {
        width: 100%;
    }

    .rating-display {
        display: none;
    }

    .rating-position {
        position: static;
    }
}